@using Overbooking.Models

@model IdadeDoPassageiroModel

@{
    ViewBag.Title = "PI - Idade";
}

<div class="container">
    <h1 class="page-header titulo">PI - Idade</h1>

    @using (Html.BeginForm("Cadastrar", "Idades", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label for="Data" class="control-label col-xs-2">Idade</label>
            <div class="col-xs-10">
                <input type="number" value="@(Model?.Idade)" min="0" max="999" class="form-control" id="Idade" name="Idade" placeholder="Idade">
                @Html.ValidationMessageFor(model => model.Idade)
            </div>
        </div>
        <div class="form-group">
            <label for="ProbabilidadeDeComparecimento" class="control-label col-xs-2">PI</label>
            <div class="col-xs-10">
                <input type="number" value="@(Model?.ProbabilidadeDeComparecimento)" min="0" max="100" class="form-control" id="ProbabilidadeDeComparecimento" name="ProbabilidadeDeComparecimento" placeholder="PI">
                @Html.ValidationMessageFor(model => model.ProbabilidadeDeComparecimento)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </div>
    }

    @Html.Partial("_Pic")
</div>