<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Lista de Voos", "Index", "Home")</li>
                    <li>@Html.ActionLink("Incluir Passageiros", "Index", "Passageiros")</li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle"> Cadastrar PI <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Rota", "Index", "Rotas")</li>
                            <li>@Html.ActionLink("Data", "Index", "DatasDeSaida")</li>
                            <li>@Html.ActionLink("Idade", "Index", "Idades")</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <hr class="hr-primary" />
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
