@using Overbooking.Models

@model DataDeSaidaModel

@{
    ViewBag.Title = "PI - Data";
}

<div class="container">
    <h1 class="page-header titulo">PI - Data</h1>

    @using (Html.BeginForm("Cadastrar", "DatasDeSaida", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label for="Data" class="control-label col-xs-2">Data de saída</label>
            <div class="col-xs-10">
                <input type="datetime-local" value="@(Model?.Data.Value.ToString("yyyy-MM-ddTHH:mm:ss") ?? DateTime.Now.ToString("yyyy-MM-ddTHH:mm"))" class="form-control" id="Data" name="Data" placeholder="Data de saída">
                @Html.ValidationMessageFor(model => model.Data)
            </div>
        </div>
        <div class="form-group">
            <label for="ProbabilidadeDeComparecimento" class="control-label col-xs-2">PI</label>
            <div class="col-xs-10">
                <input type="number" value="@(Model?.ProbabilidadeDeComparecimento)" min="0" max="100" class="form-control" id="ProbabilidadeDeComparecimento" name="ProbabilidadeDeComparecimento" placeholder="PI">
                @Html.ValidationMessageFor(model => model.ProbabilidadeDeComparecimento)
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </div>
    }

    @Html.Partial("_Pic")
</div>